<!-- public/views/done.html -->

<div class="jumbotron">

  <h2>Completed Tasks List</h2>

  <div class="complete-list-item" ng-repeat="item in completedTodoList">
    {{item.description}} <button class="delete-button comp" ng-click="delete(item)">Delete this task</button>
  </div>
  
</div>