<!-- public/views/home.html -->

<div class="jumbotron">

  <h2>To Do List</h2>

  <form class="new-task-form" ng-submit="addListItem(itemDescription, itemPriority)">
    <input type="string" name="description" ng-model="itemDescription" placeholder="What needs to be done" />
    <input type="number" name="priority" ng-model="itemPriority" placeholder="How important is this" />
    <input type="submit" class="hidden-submit" />
  </form>


  <div  class="list-item" ng-repeat="item in todoList">
  <form ng-submit="updateListItem(item)">
    Done: 
    <input type="checkbox" ng-model="item.done"/>
    <input type="string" ng-model="item.description"/>
    <input type="number" ng-model="item.priority"/>
    <input type="submit" class="hidden-submit" />
    <button class="delete-button" ng-click="delete(item)">Delete this task</button>
  </form>
  </div>

</div>