.priority {
  font-size: 50%;
}

.hidden-submit {
  /*display: none;*/
  border: none;
  border-radius: 10px;
  background-color: silver;
}

.delete-button {
  border: none;
  border-radius: 10px;
  background-color: gray;
  margin-left: 15px; 
}

.complete-list-item {
  padding: 5px;
  border-radius: 15px;
  background-color: silver;
  width: 300px;
}

.list-item {
  padding: 5px;
  border-radius: 15px;
  background-color: silver;
  width: 575px;
}

.new-task-form {
  margin-bottom: 25px;
  margin-left: 63px;
}